extends layout

block content
    h1 Witaj #{user.name},

    p Masz to szczęście, że zostałeś/aś wylosowany/a do specjalnego zadania w tej <b>#{round.number}</b> turze! <br />
    p Prosimy Cię w tym tygodniu o modlitwę w intencji całej wspólnoty.

    p
      | Niech Twoja modlitwa ma konkretne owoce - za każdym razem jak <br />
      | spotkasz kogoś ze wspólnoty obdarz go uśmiechem, dobrym słowem, powiedz komplement.

    p(style='margin-bottom: 0;') Dziękujemy!

  p
    | Zespół PrayPairing <br />
    strong= group.name
