h1 Witajcie,

p W tym tygodniu zostaliście wylosowani abyście się za siebie modlili w parze

ul
  each user in users
    li
      p= user.name + ' ' + user.surname
      p= user.email

p Pamiętajcie o codziennej modlitwie
p Zespół PrayPairing
